<div class="main-container"> 
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
      <!-- <li class="nav-item"><a class="nav-link " routerLink="login">Login</a></li> -->
      <li class="nav-item"><a class="nav-link "routerLinkActive="active" routerLink="/about">About</a></li>
      <li class="nav-item"><a class="nav-link "routerLinkActive="active" routerLink="/products" >products</a></li>
      <li class="nav-item"><a class="nav-link "routerLinkActive="active"  routerLink="/contact-us">Contact-us</a></li>
    </ul>
  </nav>
</header>
<div class="component-container">
<router-outlet></router-outlet>
</div></div>

