
<div class="page-area">
  <div class="text-center">
<h2> Products</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus minima odio 
  eligendi tempore aliquam, odit corporis earum perspiciatis aut laborum fugit
   culpa ipsam expedita doloremque quis atque voluptate modi quo.
</p>
</div>
<hr class="mb-3">

  <div class="row">
    <div class="col-md-8">
    <div class="card">
      <img src="../../assets/laptop.jpg" class="card-img-top" alt="..."> 
     <div class="card-body">
       <h5 class="card-title">Laptop</h5>
       <p class="card-text">Some quick example text to build.</p>
       <a routerLinkActive="active"routerLink="product1"class="btn btn-primary">Know more</a>
     </div>
   </div>
   <div class="card">
     <img src="../../assets/mobile.jpg" class="card-img-top" alt="..."> 
    <div class="card-body">
      <h5 class="card-title">Mobile</h5>
      <p class="card-text">Some quick example text to build .</p>
      <a routerLink="product2" class="btn btn-primary">know more</a>
    </div>
  </div>
  <div class="card ">
   <img src="../../assets/tv.jpg" class="card-img-top" alt="..."> 
  <div class="card-body">
    <h5 class="card-title">TV</h5>
    <p class="card-text">Some quick example text to build.</p>
    <a routerLink="product3" class="btn btn-primary">Know more</a>
  </div>
 </div> </div>
 <div class="col-md-4 border-light">
   <router-outlet> </router-outlet>
 </div>
</div>
</div>
