
.card{
    display: inline-block;
margin:0px 10px 10px;
overflow: hidden;
}
.page-area{
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    min-height: 400px;
    text-align: center;
    background-color:beige;
}
.card-img-top{
    width: 40%;
    height: 80%;
    overflow:hidden;
}