<div class="page-area">
<div class="row col-md-12">
   <!-- <div class="card col-md-4"> <p>product Id {{product.id}}</p>
    <p>product  Name{{product.name}}</p></div>
     -->
    <div class="site-image">
      <!-- <img src="../../assets/laptop.jpg" class="card-img-top" alt="...">  -->
      <img src= {{product.image}} class="card-img-top" alt="..."> </div></div>
     <div class="card-body">
       <h2 class="card-title" *ngIf="!editMode">{{product.name}}</h2>
       <div style="text-align: center;" *ngIf="editMode">
        <input type="text"[(ngModel)]="product.name">
      </div> 
       <p class="card-text">{{product.description}}</p>
       <!-- <a  class="btn btn-primary"[routerLink]="['/products/productDetails', 1]">previous   </a>  -->

       <a routerLink="/products"class="btn btn-primary">go products   </a>
  
       <!-- <a  class="btn btn-primary"[routerLink]="['/products/productDetails', 3]">next</a> -->
       <!-- <button [routerLink]="['/products/productDetails',product.id]" [quaryParams]="{edit:true,}">Edit</button> -->
       <button (click)="appendQueryParam()">Edit</button>
       <button (click)="updateProduct()">Update</button>
     </div>
    </div>
  
  